.bodyContainer {
    padding: 4.75%;
    background-color: #f0f4f7;
    height: 100%;
}

.couponContainer {
    justify-content: center;
    position: relative;
    border-top: 25px;
    background-color: white;
    width: 100%;
    min-height: 230px;
    border-radius: 7px;
    margin-bottom: 24px;
    box-shadow: 0 4px 2px -2px #dadada;
    padding: 35px 27.5px;
    box-sizing: border-box;
    flex-direction: column;
    display:flex;
}

.adjacent {
    flex-direction: row;
    display:flex;
    margin: 10px 20px 10px 10px;
    width: 90%;
}

.adjacentNoSpacing {
    flex-direction: row;
    display:flex;
}

.onTop {
    flex-direction: column;
    display:flex;
}

.fromDatePicker{
    margin-right: 15px;
}

.spacingBetween {
    margin: 0 15px;
}

.nameInput{
    width: 55%;
    margin-right: 15px;
}

.codeInput {
    margin-right: 15px;
    width: 55%;
}

.selectedProperties {
    width: 60%;
    margin-top: 30px;
    margin-left: 15px;
}

.buttons {
    float: right;
}