.main {
    position: sticky;
    top: 0;
    width: 100%;
    height: 50px;
    background-color: #0f1424;
}

.button {
    border-radius: 20px;
    border-color: white;
    background-color: #0f1424;
    height: 35px;
    width: 200px;
    margin-left: 575px;
    color: white;
}
