.couponBoxContainer{
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-top: 25px;
    background-color: white;
    width: 100%;
    min-height: 100px;
    height: 100px;
    border-radius: 10px;
    margin: 15px 0;
    box-shadow: 0 4px 2px -2px #dadada;
}

.title{
    float: left;
    margin: 0;
}

.buttons{
    float: right;
    display: flex;
    flex-direction: row;
}

.text {
    margin: 0;
}

