.addCoupon {
    font-family: Helvetica, serif;
    font-size: 15px;
    font-weight: lighter;
    background-color: #3899ec;
    color: white;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    width: 135px;
    height: 35px;
    border-radius: 17.5px;
    display: inline-block;
    align-self: center;

}
.addCoupon:hover {
    background-color: rgba(56, 153, 236, 0.71);
}
.noCouponContainer{
    display: flex; justify-content: center;
    flex-direction: column;
    background-color: #f0f4f7;
    width: 100%;
    height: 100%;
}
.emptyCoupons{
    background-image: url('https://img.icons8.com/ios/150/000000/discount.png');
    background-repeat: no-repeat;
    background-size: 150px 150px;
    height: 150px;
    width: 150px;
    align-self: center;
}