.propertiesSearchBar {
  display:flex;
  flex-direction:row;
  margin-top: 15px;
  margin-bottom: 10px;
}

.propertiesRangePicker {
  height: 40px;
  width: calc((980px) / 2);
}
.propertiesNumOfGuests {
  height: 32px;
  width: calc((980px) / 4);
}
.propertiesButtonSearch{
  width: calc((980px) / 4);
}

.InputFromTo .DayPicker-Day--selected:not(.DayPicker-Day--start):not(.DayPicker-Day--end):not(.DayPicker-Day--outside) {
  background-color: #f0f8ff !important;
  color: #4a90e2;
}
.InputFromTo .DayPicker-Day {
  border-radius: 0 !important;
}
.InputFromTo .DayPicker-Day--start {
  border-top-left-radius: 50% !important;
  border-bottom-left-radius: 50% !important;
}
.InputFromTo .DayPicker-Day--end {
  border-top-right-radius: 50% !important;
  border-bottom-right-radius: 50% !important;
}
.InputFromTo .DayPickerInput-Overlay {
  width: 550px;
}
.InputFromTo-to .DayPickerInput-Overlay {
  margin-left: -198px;
}