.reservationBoxClosed {
    border-top: 25px;
    background-color: white;
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 10px;
    box-shadow: 0 4px 2px -2px #dadada;
    padding: 25px 50px 10px 50px;
    box-sizing: border-box;
    display: inline-block;
    overflow: hidden;
    max-height: 65px;
    transition: max-height 0.2s ease-out;
}

.reservationBoxOpen {
    border-top: 25px;
    background-color: white;
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 10px;
    box-shadow: 0 4px 2px -2px #dadada;
    padding: 25px 50px 10px 50px;
    box-sizing: border-box;
    display: inline-block;
    overflow: hidden;
    max-height: 500px;
    transition: max-height 0.25s ease-in;
}

.bookingInfo{
    display: flex !important;
    width: 100% !important;
    height: 30px;
    margin-bottom: 10px;
}

.bookerName {
    color: #2b5672;
    font-family: HelveticaNeueW01-55Roma, sans-serif;
    font-size: 16px;
    font-weight: normal;
    float: left;
    margin-right: 1%;
}
.propertyName {
    color: #676767;
    font-family: HelveticaNeueW01-55Roma, sans-serif;
    font-size: 14px;
    font-weight: lighter;
}

.dateRange {
    color: #676767;
    font-family: HelveticaNeueW01-55Roma, sans-serif;
    font-size: 14px;
    font-weight: lighter;
    margin-left: auto;
    margin-right: 1%;
}
.price {
    color: rgba(0, 0, 0, 0.99);
    font-family: HelveticaNeueW01-55Roma, sans-serif;
    font-size: 14px;
    font-weight: normal;
    margin-right: 10%;
}
.contactInfoDiv {
    width: 100%;
    display: flex;
    border-color: #f1f1f1;
    border-width: 1px;
    border-bottom-style: solid;
    margin-bottom: 10px;
    padding-bottom: 5px;

}
.contactInfo {
    color: #6a6a6a;
    font-family: HelveticaNeueW01-55Roma, sans-serif;
    font-size: 12px;
    font-weight: lighter;
    padding-top: 3px;
    line-height: 100%;
    margin-right: 10px;
}

.message {
    display: block;
    width: 100%;
    float: left;
    font-size: 15px;
    font-family: HelveticaNeueW01-55Roma, sans-serif;
    color: #676767;
    margin-bottom: 15px;
}
.buttons {
    display: flex;
    width: 100%;
}

.approveButton {
    font-family: Helvetica, serif;
    font-size: 15px;
    font-weight: lighter;
    background-color: #52c26c;
    color: white;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    width: 135px;
    height: 35px;
    border-radius: 17.5px;
    display: inline-block;
    align-self: center;
    margin: 10px 10px 10px 0;
}

.approveButton:hover {
    background-color: rgba(117, 236, 157, 0.71);
    color: white;
}

.bookingInfo {
    display: inline-block;
    width: 50px;
    background-color: transparent;
}

.expandButtonDiv {
    width: 25px;
    height: 17px;
    background-color: transparent;
    transition: all .2s ease-in-out
}
.expandButtonDiv:hover {
    transform: scale(1.25);
}

.expandButtonUp {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: transparent;
    transform: rotate(-180deg);
    transition: transform .25s linear;
}

.expandButtonUp:focus .expandButtonDown:focus {
    background-color: black;
}

.expandButtonDown {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: transparent;
    transform: rotate(0deg);
    transition: transform .2s linear;
}

.arrowImage {
    height: 100%;
    width: 100%;
}

.loading {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 98vh;
}

.loadAnim {
    width: 100px !important;
    height: 100px !important;
}
