.searchContainer {
  display:flex;
  flex-direction:row;
  margin-top: 15px;
  margin-left: 20px;
  border: 2px solid #000000;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 30px;
}

.rangePicker {
  height: 40px;
  width: 220px;
}
.numOfGuests {
  height: 32px;
  width: 220px;
}
.buttonSearch{
  width: 220px;
  margin-top: 30px;
}
.vl {
  border-left: 2px solid green;
  height: 60px;
  padding-left: 15px;
}

.searchContainerContent {
  margin: 30px;
}