.main {
    padding: 0 50px;
    max-width: 1060px;
    min-width: 665px;
    height: 100%;
    background-color: #f0f4f7;
    display: block;
}
.container {
    width: 100%;
    height: 150%;
    background-color: #f0f4f7;
    display: block;
    padding-top: 65px;
}

.header {
    color: #2b5672;
    font-family: Helvetica, serif;
    font-size: 34px;
    margin-bottom: 20px;
    font-weight: lighter;
    width: 50%;
    float: left;
    display: inline-block;
}

.saveButton {
    font-family: Helvetica, serif;
    font-size: 15px;
    font-weight: lighter;
    background-color: #3899ec;
    color: white;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    width: 100px;
    height: 36px;
    border-radius: 17.5px;
    float: right;
    display: inline-block;
}

.saveButton:hover {
    background-color: rgba(56, 153, 236, 0.71);
}

.cancelButton {
    font-family: Helvetica, serif;
    font-size: 15px;
    font-weight: lighter;
    background-color: #ffffff;
    color: #3899ec;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    width: 100px;
    height: 36px;
    border-radius: 17.5px;
    display: inline-block;
    float: right;
    margin-right: 20px;
}

.cancelButton:hover {
    background-color: #3ca6ff;
    color: white;
}
