.main {
    padding: 0 50px;
    min-width: 665px;
    height: 100%;
    background-color: #f0f4f7;
    display: block;
    box-sizing: border-box;
}
.container {
    width: 100%;
    height: 100%;
    background-color: #f0f4f7;
    display: block;
}
.header {
    color: #2b5672;
    font-family: Helvetica, serif;
    font-size: 34px;
    padding-top: 65px;
    margin-bottom: 10px;
    font-weight: lighter;
}
