.main {
    padding: 0 50px;
    max-width: 1060px;
    min-width: 665px;
    height: 120%;
    background-color: #f0f4f7;
    display: block;
}
.cont {
    width: 100%;
    height: 120%;
    background-color: #f0f4f7;
    display: block;
    padding-top: 65px;
}

.headerPage {
    color: #2b5672;
    font-family: Helvetica, serif;
    font-size: 34px;
    margin-bottom: 20px;
    margin-top: 0;
    font-weight: lighter;
    float: left;
}

.nameDiv {
    display: inline-block;
    float: left;
    width: 40%;
    min-height: 800px;
    height: auto;
}

.header {
    color: #2b5672;
    font-family: Helvetica, serif;
    font-size: 22px;
    font-weight: normal;
    margin: 0 0 15px;
}
.inputDiv {
    float: right;
    width: 60%;
    height: auto;
    min-height: 500px;
    padding: 32px 130px;
    border: 1px solid rgb(240, 240, 240);
    border-radius: 6px;
    max-width: 390px;
    vertical-align: top;
    position: relative;
    top: 0
}

.description {
    color: transparent;
    font-family: Helvetica, serif;
    font-size: 17px;
    font-weight: lighter;
    width: 80%;
    transition-property: color;
    transition-duration: 0.3s;
    transition-timing-function: ease;
    transition-delay: 0s;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 25px;
    background-color: white;
    width: 100%;
    min-height: 500px;
    height: auto;
    border-radius: 7px;
    margin-bottom: 24px;
    box-shadow: 0 4px 2px -2px #dadada;
    padding: 35px 52px;
    box-sizing: border-box;
}

.container:hover .description {
    color: #7a92a5;
    transition-property: color;
    transition-duration: 0.3s;
    transition-timing-function: ease;
    transition-delay: 0s;
}

.label {
    color: #2b5672;
    font-family: Helvetica, serif;
    font-size: 16px;
    font-weight: normal;
    margin-bottom: 10px;
    margin-top: 0;
}

.smallLabel {
    color: #2b5672;
    font-family: Helvetica, serif;
    font-size: 12px;
    font-weight: lighter;
    margin-bottom: 10px;
    margin-top: 0;
    margin-left: 5px;
}

.email {
    color: #7a92a5;
    font-family: Helvetica, serif;
    font-size: 15px;
    font-weight: lighter;
    margin-top: 0;
    margin-bottom: 30px;
}

.saveButton {
    font-family: Helvetica, serif;
    font-size: 15px;
    font-weight: lighter;
    background-color: #3899ec;
    color: white;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    width: 100px;
    height: 36px;
    border-radius: 17.5px;
    float: right;
    display: inline-block;
}

.saveButton:hover {
    background-color: rgba(56, 153, 236, 0.71);
}
.lab {
    color: #2b5672;
    font-size: 16px;
    font-family: Helvetica, serif;
    font-weight: normal;
    display: block;
    padding: 0px 0 4px 0px;
    margin-bottom: 5px;
}

Input[id="subject"] {
    height: 35px;
    width: 100%;
    border: 1px solid rgba(198, 226, 247, 1.0);
    color: #2b5672;;
    border-radius: 6px;
    font-size: 15px;
    font-family: Helvetica, serif;
    font-weight: normal;
    box-sizing: border-box;
    padding-left: 8px;
    padding-right: 8px;
}

textarea[name="intro"] {
    height: 100px;
    min-height: 80px;
    width: 100%;
    border: 1px solid rgba(198, 226, 247, 1.0);
    color: #2b5672;;
    border-radius: 6px;
    font-size: 15px;
    font-family: Helvetica, serif;
    font-weight: normal;
    box-sizing: border-box;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 8px;
    resize: both;
    overflow: auto;
}


.bookingDetails {
    background-color: #EAF7FF;
    border-radius: 6px;
    width: 90%;
    height: auto;
    padding: 14px 22px;
    margin-top: 5px;
    font-style: italic;
    line-height: 10px;
    margin-bottom: 30px;
}

.bookingDetailsText {
    width: 100%;
    color: #7a92a5;
    font-family: Helvetica, serif;
    font-size: 16px;
    font-weight: lighter;
    display: block;
    margin-bottom: 5px;
}

.cancelButton {
    font-family: Helvetica, serif;
    font-size: 15px;
    font-weight: lighter;
    background-color: #ffffff;
    color: #3899ec;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    width: 100px;
    height: 36px;
    border-radius: 17.5px;
    display: inline-block;
    float: right;
    margin-right: 20px;
}

.cancelButton:hover {
    background-color: #3ca6ff;
    color: white;
}

