.noRulesContainer {
    height: 100%;
    width: 100%
}

.withRulesContainer{
    height: 100%;
    width: 100%;
    background-color: #f0f4f7;
}

.addNewRuleButton{
    float: right;
}

.body {
    padding: 4.75%;
}