.propertyContainer{
  flex-direction: row;
  display:flex;
  border: 2px solid #000000;
  margin-bottom: 20px;
}
.propertiesImage{
  width: 500px;
  height: 444px;
}

.headerText {
  font-size: 26px;
  font-weight: 400;
  font-family: 'montserrat','sans-serif';
}

.descriptionText{
  font-size: 16px;
  font-weight: 300;
  width: 100%;
}

.vl {
  border-left: 2px solid green;
  height: 44px;
  padding-left: 5px;
}

.button{
  width: 100%;
  font-size: 16px;
  height: 42px;
}

.descriptionContainer{
  margin: 25px;
}
.propertiesIcon{
  height: 50px;
  width: 50px;
  margin-bottom: 25px;
}