.customButton {
    font-family: Helvetica, serif;
    font-size: 15px;
    font-weight: lighter;
    background-color: #3899ec;
    color: white;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    width: 135px;
    height: 35px;
    border-radius: 17.5px;
    display: inline-block;
    align-self: center;
    margin: 10px;
  }
  .actionButtons {
    background-color: Transparent;
    background-repeat:no-repeat;
    margin: 0 3px;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    width: 40px;
    height: 40px;
    border-radius: 25px;
    justify-content: center;
    display: flex
  }
  .actionButtons:hover {
    background-color: rgba(234, 247, 255, 1.00);
    border-radius: 25px;
  }

  .cancelButton {
    background-color: #fff;
    color: #3899ec;
  }
  .customButton:hover {
    background-color: rgba(56, 153, 236, 0.71);
  }
  .noOutline {
    font-family: Helvetica, serif;
    font-size: 15px;
    font-weight: lighter;
    background: none;
    /* background-color: #3899ec; */
    color: white;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    width: 135px;
    height: 35px;
    border-radius: 17.5px;
    display: inline-block;
    align-self: center;
    margin: 10px;
    color: #3899ec;
  }

  .noOutline:hover {
    color:  rgb(18, 14, 212);
    background: none;
  }
