label {
    color: #0d3349;
    font-size: 16px;
    font-family: Helvetica, serif;
    font-weight: lighter;
    display: block;
    padding: 5px 0 4px 0px;
    text-align: left;
    margin: 0;
  }

  .labelDiv{
    color: #0d3349;
    font-size: 16px;
    font-family: Helvetica, serif;
    font-weight: lighter;
    display: block;
    padding: 5px 0 4px 0px;
    text-align: left;
    margin: 0
  }

  input {
    height: 35px;
    width: 100%;
    border: 1px solid rgba(198, 226, 247, 1.0);
    color: #2b5672;;
    border-radius: 6px;
    font-size: 14px;
    font-family: Helvetica, serif;
    font-weight: normal;
    box-sizing: border-box;
    padding-left: 8px;
    padding-right: 8px;
    margin-top: 5px;
  }
  
  input:focus {
    border: 1px solid rgb(56, 153, 236);
  }

  .inputGroupSmall {
    height: 35px;
    width: 100%;
    border: 1px solid rgba(198, 226, 247, 1.0);
    color: #2b5672;;
    border-radius: 6px;
    font-size: 14px;
    font-family: Helvetica, serif;
    font-weight: normal;
    box-sizing: border-box;
    padding-left: 8px;
    padding-right: 8px;
}
