/* .container {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  background-color: white;
}

Navigation {
  width: 100%;
  margin: 0;
}

.Footer {
  width: 100%;
  bottom: 0;
} */
/* body {
  margin: 0;
  height: 100%;
  position: fixed;
  overflow: hidden;
} */
/* .textAboveInput{
  color: #0d3349;
  font-size: 16px;
  font-family: Helvetica, serif;
  font-weight: lighter;
  display: block;
  padding: 0px 0 4px 0px;
} */
h1 {
  font-family: HelveticaNeueW01-45Ligh,HelveticaNeueW02-45Ligh,HelveticaNeueW10-45Ligh,Helvetica,Arial,sans-serif;
  font-size: 34px;
  font-weight: 200;
  margin: 0;
  padding: 0;
  color: #2b5672;
  float: left;
  text-align: center;
  line-height: 1.4;
}

h2 {
  font-family: HelveticaNeueW01-45Ligh,HelveticaNeueW02-45Ligh,HelveticaNeueW10-45Ligh,Helvetica,Arial,sans-serif;
  font-size: 28px;
  margin: 24px 0 0;
  font-weight: 200;
  color: #2b5672;
  text-align: center;
  line-height: 1.4;
}

h4 {
  font-family: HelveticaNeueW01-45Ligh,HelveticaNeueW02-45Ligh,HelveticaNeueW10-45Ligh,Helvetica,Arial,sans-serif;
  color: #0d3349;
  font-size: 16px;
  font-family: Helvetica, serif;
  font-weight: lighter;
  display: block;
  padding: 5px 0 4px 0px;
  text-align: left;
  margin: 0;
}

p {
  font-family: HelveticaNeueW01-45Ligh,HelveticaNeueW02-45Ligh,HelveticaNeueW10-45Ligh,Helvetica,Arial,sans-serif;
  font-size: 16px;
  margin: 8px 0 28px;
  color: #2b5672;
  text-align: center;
  line-height: 1.4;
}

.header {
  width: 100vw;
  height: 50px;
  position: fixed;
  top: 0;
  background-color: white;
}

.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 98vh;
}

.loadAnim {
  width: 100px !important;
  height: 100px !important;
}
