.detailsPageLayout{
    display:flex;
    flex-direction:row;
}

.propertyDetails{
    margin-left: calc((100% - 980px) / 2);
    width: 649px;
}

.vl1 {
    border-left: 2px solid green;
    height: 44px;
    padding-left: 5px;
    margin-right: 20px;
}

.detailRow {
    display:flex;
    flex-direction:row;
    margin-bottom: 10px;
    margin-top: 10px;
    width: 100%;
}

.spacingHeaderButton{
    margin-right: 20px;
}

ul li{
    float: left;
    width: 50%;
}
ul{
    list-style-type: none;
    width: 100%;
    padding-left: 20px;
    padding-top: 10px;
    height: auto;
}

ul div{
    float: left;
    width: 50%;
}

.moreInfo {
    width: 100%;
}

.bar{
    border-bottom: 2px solid black;
}

.bulletImageText{
    flex-direction: row;
    display:flex;
}

.bulletImages{
    height: 20px;
    width: 20px;
    margin-right: 10px;
    margin-bottom: 5px;
}