.itemList {
    ul li{
        float: left;
        width: 50%;
    }
    ul{
        list-style-type: none;
        width: 100%;
        padding-left: 20px;
        padding-top: 10px;
        height: auto;
    }
    
    ul div{
        float: left;
        width: 50%;
    }
}
