.main {
    margin-left: 50px;
    margin-top: 50px;
    padding-top: 0px;
    vertical-align: top;
    display: inline;
    text-align: center;
    width: 375px;
    height: 625px;
    overflow-y: scroll;
    overflow-x:hidden;
    float: left;
    scroll-snap-type: y mandatory;
}

