.main {
    width: 100%;
    height: 100%;
    background-color: white;
    vertical-align: center;
}

ul {
    padding: 0;
    list-style: none;
    height: 50px;
    width: 100%;
    vertical-align: center;
}

.navBar {
    display: flex;
}

.logo {
    margin-left: auto;
    margin-right: auto;
}

.button {
    margin-left: 75px;
    margin-right: 50px;
}

.leftButton {
    margin-left: 200px;
    margin-right: 75px;
}

.buttonRight {
    margin-left: 75px;
    margin-right: 200px;
}

.line {
    border-top: 1px solid #e5e5e5;
    width: 100%;
    margin: 0;

}
