.bodyContainer {
    padding: 4.75%;
    background-color: #f0f4f7;
    height: 100%;
}

.cancelButton {
    background-color: #fff;
    color: #3899ec;
    float: right;
  }

  .saveButton {
      float:right;
  }

  .infoAbove {
    flex-direction: row;
      display:flex;
      margin: 0 20px 10px 10px;
    padding-top: 20px;
    float: left;
    /* width: 100%; */
  }

  .chargeContainer {
    justify-content: center;
    position: relative;
    border-top: 25px;
    background-color: white;
    width: 100%;
    min-height: 230px;
    border-radius: 7px;
    margin-bottom: 24px;
    box-shadow: 0 4px 2px -2px #dadada;
    padding: 35px 27.5px;
    box-sizing: border-box;
    flex-direction: column;
    display:flex;
}
.adjacent {
    flex-direction: row;
    display:flex;
    margin: 0 20px 10px 10px;
    width: 80%;
}
.nameInput {
    width: 55%;
    margin-right: 15px;
}
.chargeType {
    padding: 5px 0 4px 0px;
    margin-left: 15px;
}
.chargePer {
    width:100%;
    margin-right: 15px;
}

.setPrice{
    width: 80%;
    margin: 0 15px;
}

.taxable {
    flex-direction: row;
    display:flex;
    margin: 30px 20px 0px 0px;
    width: 80%;
}

.taxableCheckMark {
    width: 24px;
    height: 24px;
}

