.header {
    color: #2b5672;
    font-family: Helvetica, serif;
    font-size: 34px;
    margin-top: 50px;
    margin-bottom: 10px;
    font-weight: lighter;
}
.descript {
    color: #2b5672;
    font-family: Helvetica, serif;
    font-size: 16px;
    font-weight: lighter;
    margin-bottom: 5px;
}
.main {
    padding: 0 50px;
    max-width: 1060px;
    min-width: 665px;
    height: 100%;
    background-color: #f0f4f7;
    display: block;
}
.container {
    width: 100%;
    height: 100%;
    background-color: #f0f4f7;
    display: block;
}
.paymentDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 25px;
    background-color: white;
    width: 100%;
    min-height: 120px;
    height: 120px;
    border-radius: 10px;
    margin-bottom: 10px;
    box-shadow: 0 4px 2px -2px #dadada;
}
.paymentDiv:hover {
    box-shadow: 0px 0px 10px rgb(200, 200, 200);
    transition: box-shadow .2s;
    transition-property: box-shadow;
    transition-duration: 0.2s;
    transition-timing-function: ease;
    transition-delay: 0s;
}

.logo {
    display: flex;
    align-items: center;
    min-height: 70%;
    width: 33.33%;
    border-right: 1px solid #e0e1de;
    float: left;
    justify-content: center;
}
.line {
    height: 70%;
    border-right: 1px solid #e0e1de;
}
.description {
    display: flex;
    align-items: center;
    height: 70%;
    padding-left: 40px;
    padding-top: 0px;
    padding-bottom: 0px;
    width: 33.33%;
    border-right: 1px solid #e0e1de;

}
.list {
    padding: 0;
    float: left;
    margin: 0px;
    color: #2b5672;
}
.listItem {
    margin-bottom: 5px;
    font-size: 14px;
    font-family: Helvetica, serif;
    font-weight: lighter;
    color: #2b5672;
}
.connect {
    display: flex;
    align-items: center;
    width: 33.33%;
    float: right;
    height: 100%;
}
.stripelogo {
    display: flex;
    max-width: 125px;
}
.button {
    width: 100%;
    height: 100%;
    background-color: white;
    font-size: 16px;
    cursor: pointer;
    border: 1px solid #3899ec;
    color: #3899ec;
    border-radius: 17.5px;
    font-family: Helvetica, serif;
    font-weight: lighter;
}
.link{
    width: 75%;
    height: 35px;
    margin: auto;
    outline: none;
}

.button:hover {
    background-color: #4db7f5;
    border: 1px solid #4db7f5;
    color: white;
}
.paypal {
    display: block;
    width: 175px;
}

.checkmark {
   display: flex;
    width: 15px;
    margin: auto 4px auto auto;
}
.connected {
    color: rgb(0, 177, 86);
    display: flex;
}
.connectedDiv {
    display: flex;
    margin: auto;
}

