.rowC {
  display:flex;
  flex-direction:row;
  justify-content: center;
  margin-top: 15px;
}

.rangePicker {
  height: 40px;
  width: 320px;
  padding-right: 15px;
}
.numOfGuests {
  height: 32px;
  width: 200px;
}

.spacing{
  margin-right: 15px;
}
