.container {
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 25px;
    background-color: white;
    width: 100%;
    min-height: 500px;
    height: auto;
    border-radius: 7px;
    margin-bottom: 24px;
    box-shadow: 0 4px 2px -2px #dadada;
    padding: 35px 27.5px;
    box-sizing: border-box;
}

.nameDiv {
    display: inline-block;
    float: left;
    width: 33%;
    height: 100%;
}

.header {
    color: #2b5672;
    font-family: Helvetica, serif;
    font-size: 22px;
    font-weight: normal;
    margin: 0;
    margin-bottom: 15px;
}

.description {
    color: transparent;
    font-family: Helvetica, serif;
    font-size: 15px;
    font-weight: lighter;
    width: 70%;
    transition-property: color;
    transition-duration: 0.3s;
    transition-timing-function: ease;
    transition-delay: 0s;
}

.container:hover .description {
    color: #7a92a5;
    transition-property: color;
    transition-duration: 0.3s;
    transition-timing-function: ease;
    transition-delay: 0s;
}

.inputDiv {
    float: right;
    width: 100%;
    height: 100%;
    margin-left: 24px;
    margin-right: 80px;
}

Input[id="customInput"] {
    height: 35px;
    width: 100%;
    border: 1px solid rgba(198, 226, 247, 1.0);
    color: #2b5672;;
    border-radius: 6px;
    font-size: 14px;
    font-family: Helvetica, serif;
    font-weight: normal;
    box-sizing: border-box;
    padding-left: 8px;
    padding-right: 8px;
}

Input:focus {
    border: 1px solid rgb(56, 153, 236);
}

.lab {
    color: #0d3349;
    font-size: 16px;
    font-family: Helvetica, serif;
    font-weight: lighter;
    display: block;
    padding: 0px 0 4px 0px;
}

.lab::before {
    content: "*";
    font-size: 24px;
    display: inline-block;
    top: 5px;
    position: relative;
    color: #7fccf7
}

.inputGroupBig {
    display: inline-block;
    width: 60%;
}

.inputGroupSmall {
    display: inline-block;
    width: 30%;
    margin-left: 10%;
}

.inputGroupBiggest {
    display: inline-block;
    width: 100%;
}

.map {
    margin-top: 30px;
    height: 250px;
    width: 100%;
    display: block;
    border-radius: 7px;
    border-color: #7a92a5;;
    border-width: 1px;
    float: left;
    overflow: hidden;
}
