.textStyle{
  font-size: 20px;
  font-family: monospace;
  margin-left: 0;
}
.container{
  margin-top: 0;
  padding-bottom: 25px;
}

h1 {
  font-size: 40px;
}

.headerStyle {
  padding-left: 0;
  margin-left: 0;
}
