.bodyContainer {
    padding: 4.75%;
    background-color: #f0f4f7;
    height: 100%;
    display: block;
}

.main {
    padding: 50px 50px;
    min-width: 665px;
    height: 100%;
    background-color: #f0f4f7;
    display: block;
    box-sizing: border-box;
}

.header {
    color: #2b5672;
    font-family: Helvetica, serif;
    font-size: 34px;
    margin-bottom: 10px;
    font-weight: lighter;
}

.dropdownButton {
    background: none;
    color: #2b5672;
    font-family: Helvetica, serif;
    font-weight: lighter;
    font-size: 24px !important;
    line-height: 30px !important;
    margin-right: 15px;
}

.adjacent {
    flex-direction: row;
    display:flex;
    width: 100%;
    position: relative;
    border-top: 25px;
    background-color: white;
    border-radius: 7px;
    margin-bottom: 20px;
    box-shadow: 0 4px 2px -2px #dadada;
    padding: 35px 27.5px;
    justify-content: space-between;
    box-sizing: border-box;
}

.iCalButton {
    float: right;
    width: 150px;
}

.chevron::before {
	border-style: solid;
	border-width: 0.25em 0.25em 0 0;
	content: '';
	display: inline-block;
	height: 0.45em;
	left: 0.30em;
	position: relative;
	top: 0.15em;
	transform: rotate(135deg);
	vertical-align: top;
	width: 0.45em;
}

.chevron.right:before {
	left: 0;
	transform: rotate(45deg);
}

.reservationsButton{
    width: 180px;
    float: right;
}

.calendarView {
    justify-content: center;
    position: relative;
    border-top: 25px;
    background-color: white;
    width: 100%;
    min-height: 230px;
    border-radius: 7px;
    margin-bottom: 24px;
    box-shadow: 0 4px 2px -2px #dadada;
    padding: 35px 27.5px 60px 27.5px;
    box-sizing: border-box;
    flex-direction: column;
    display:flex;
    height: 600px;
}

.eventPopover{
    background: 'blue';
}
