.list {
  list-style-type: none;
  padding: 0;
  box-shadow: none;
}

.subList {
  list-style-type: none;
  padding: 10px 0;
  background-color: #F8FFFE;
  box-shadow: inset 0 1px 0 #e6f9f6, inset 0 -1px 0 #e6f9f6;
}

.tab {
  width: 200px;
  height: 40px;
  background-color: transparent;
  cursor: pointer;
  color: #2b5672;
  box-shadow: none;
  font-family: HelveticaNeueW01-55Roma, sans-serif;
  font-size: 16px;
  border: none;
  text-align: left;
  padding: 0 0 0 30px;
  -webkit-font-smoothing: antialiased;
}

.activeTab {
  width: 200px;
  height: 40px;
  background-color: transparent;
  cursor: pointer;
  color: #53CAC5;
  box-shadow: none;
  font-family: HelveticaNeueW01-55Roma, sans-serif;
  font-size: 16px;
  border: none;
  text-align: left;
  padding: 0 0 0 30px;
  -webkit-font-smoothing: antialiased;
  font-weight: bold;
}


.subTab, .subTab:visited, .subTab:hover, .subTab:focus {
  width: 200px;
  height: 40px;
  background-color: transparent;
  font-family: HelveticaNeueW01-55Roma, sans-serif;
  font-size: 14px;
  cursor: pointer;
  outline: 0;
  color: #2b5672;
  font-weight: normal;
  box-shadow: none;
  border: none;
  text-align: left;
  padding: 0 0 0 30px;
}

.user {
  width: 100%;
  height: 85px;
  position: sticky;
  background-color: #375B74;
  top: 0;
  display: inline-block;
  color: white;
  box-shadow: none;
  font-family: HelveticaNeueW01-55Roma, sans-serif;
  font-size: 16px;
  border: none;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  vertical-align: middle;
  line-height: 85px;
}

.content{
  background-color: #f0f4f7;
}
