.ownerPropertiesImage {
    width: 180px;
    height: 100px;
    background-color: rgba(108, 189, 225, 0.53);
    float: left;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}

.ownerPropertyContainer {
  display: flex;
  align-items: center;
  border-top: 25px;
  background-color: white;
  width: 100%;
  min-height: 100px;
  height: 100px;
  border-radius: 10px;
  margin-bottom: 10px;
  box-shadow: 0 4px 2px -2px #dadada;
}

.ownerPropertyContainer:hover .headerText {
  transition-duration: 0.4s;
  transition-timing-function: ease;
  transition-delay: 0s;
  font-size: 23px;
  font-weight: lighter;
  color: #3899ec;
}

.ownerPropertyContainer:hover {
  box-shadow: 0px 0px 5px rgb(200, 200, 200);
  transition: box-shadow .2s;
  transition-property: box-shadow;
  transition-duration: 0.2s;
  transition-timing-function: ease;
  transition-delay: 0s;
}

.descriptionContainer {
  width: 100%;
  padding-left: 20px;
}

.headerText {
  font-family: Helvetica, serif;
  font-size: 23px;
  font-weight: lighter;
  color: #2b5672;
}

.descriptionText {
  display: flex;
  font-size: 16px;
  font-weight: 300;
  width: 100%;
  align-items: center;
}

.actions {
  display: flex;
  width: 150px;
  float: right;
  height: 100%;
  align-items: center;
  padding-right: 10px;
}

.actionButtons {
  background-color: Transparent;
  background-repeat:no-repeat;
  margin: 0 3px;
  border: none;
  cursor:pointer;
  overflow: hidden;
  outline:none;
  width: 40px;
  height: 40px;
  border-radius: 25px;
  justify-content: center;
  display: flex
}

.editLogo {
  width: 19px;
  height: auto;
}
.duplicateLogo {
  width: 19px;
  height: auto;
}
.deleteLogo {
  width: 14px;
  height: auto;
}

.actionButtons:hover {
  background-color: rgba(234, 247, 255, 1.00);
  border-radius: 25px;
}
.actionButtons:hover {
  background-color: rgba(234, 247, 255, 1.00);
  border-radius: 25px;
}
