.seasonalFeePropertyContainer {
    display: flex;
    flex-direction: column;
    align-items: left;
    border-top: 25px;
    background-color: white;
    /* width: 100%; */
    min-height: 171px;
    height: 171px;
    border-radius: 10px;
    margin-bottom: 10px;
    box-shadow: 0 4px 2px -2px #dadada;
    padding: 4% 5% 4% 5%;
    /* padding: 4.75%; */
  }
  
  .seasonalFeePropertyContainer:hover .headerText {
    transition-duration: 0.4s;
    transition-timing-function: ease;
    transition-delay: 0s;
    font-size: 23px;
    font-weight: lighter;
    color: #3899ec;
  }
  
  .seasonalFeePropertyContainer:hover {
    box-shadow: 0px 0px 5px rgb(200, 200, 200);
    transition: box-shadow .2s;
    transition-property: box-shadow;
    transition-duration: 0.2s;
    transition-timing-function: ease;
    transition-delay: 0s;
  }

  .adjacent {
    flex-direction: row;
    display:flex;
    margin: 0 20px 10px 10px;
}
.adjacentt{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0 15px 15px 15px;
}
.onTop {
    flex-direction: column;
    display:flex;
}

.feePriceInput {
    width: 70%;
  }

.propertySeasonalImage {
    width: 110px;
    height: 73px;
    border: 0;
    border-radius: 6px;
    margin-right: 3%;
}

  