.main {
    padding: 0 50px;
    max-width: 1060px;
    min-width: 665px;
    height: 100%;
    background-color: #f0f4f7;
    display: block;
}
.container {
    width: 100%;
    height: 100%;
    background-color: #f0f4f7;
    display: block;
}
.header {
    color: #2b5672;
    font-family: Helvetica, serif;
    font-size: 34px;
    margin-bottom: 20px;
    padding-top: 65px;
    font-weight: lighter;
    width: 50%;
    float: left;
    display: inline-block;
}
.addProp {
    font-family: Helvetica, serif;
    font-size: 15px;
    font-weight: lighter;
    background-color: #3899ec;
    color: white;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    width: 135px;
    height: 35px;
    border-radius: 17.5px;
    float: right;
    display: inline-block;
    margin-top: 65px;

}
.addProp:hover {
    background-color: rgba(56, 153, 236, 0.71);
}
.propertyTile {
    width: 1060px;
    height: 95px;
}
