.main {
    margin-left: 10px;
    margin-bottom: 0;
    vertical-align: top;
    min-height: 50%;
    max-height: 50%;
    display: inline-block;
    text-align: center;
    width: 100%;
    scroll-snap-align: start;
}

.image {
    object-fit: cover;
    width: 100%;
    height: 230px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.info {
    font-size: 14px;
    color: #21964e;
    display: block;
    text-align: left;
}

.name {
    font-size: 18px;
    font-family: '', serif;
    color: Black;
    font-weight: normal;
    display: block;
    text-align: left;
}
