.bodyContainer {
    padding: 4.75%;
    background-color: #f0f4f7;
    height: 100%;
}

.buttons {
    float: right;
}

.eventContainer {
    justify-content: space-between;
    position: relative;
    border-top: 25px;
    background-color: white;
    width: 100%;
    min-height: 130px;
    border-radius: 7px;
    margin-bottom: 24px;
    box-shadow: 0 4px 2px -2px #dadada;
    padding: 35px 27.5px;
    box-sizing: border-box;
    flex-direction: row;
    display:flex;
}

.detailContainer {
    justify-content: space-between;
    position: relative;
    border-top: 25px;
    background-color: white;
    width: 100%;
    min-height: 130px;
    border-radius: 7px;
    margin-bottom: 24px;
    box-shadow: 0 4px 2px -2px #dadada;
    padding: 35px 27.5px;
    box-sizing: border-box;
    flex-direction: row;
    display:flex;
}

.guestDetailContainer {
    justify-content: space-between;
    position: relative;
    border-top: 25px;
    background-color: white;
    width: 100%;
    min-height: 130px;
    border-radius: 7px;
    margin-bottom: 24px;
    box-shadow: 0 4px 2px -2px #dadada;
    padding: 35px 27.5px;
    box-sizing: border-box;
    flex-direction: row;
    display:flex;
}

.paymentContainer {
    justify-content: space-between;
    position: relative;
    border-top: 25px;
    background-color: white;
    width: 100%;
    min-height: 100px;
    border-radius: 7px;
    margin-bottom: 24px;
    box-shadow: 0 4px 2px -2px #dadada;
    padding: 35px 27.5px;
    box-sizing: border-box;
    flex-direction: column;
    display:flex;
}

.adjacent {
    flex-direction: row;
    justify-content: space-between;
    display:flex;
    margin: 10px 0 10px 0;
    width: 90%;
}

.adjacentNotAvailable {
    flex-direction: row;
    justify-content: space-between;
    display:flex;
    margin: 10px 10% 10px 30px;
    width: 60%;
}

.paymentTable {
    margin-top: 10px;
    display: table;
    border-collapse: collapse;
    border-spacing: 0;
}

.paymentTable thead{
    border-bottom: 1px solid #ddd;
    text-align: left;
}

.paymentTable tr{
    border-bottom: 1px dashed #dfe5eb
}

.paymentTable tr:only-child {
    border-bottom: 0;
}

.paymentTable td {
    width: 83px;
    height: 54px;
    vertical-align: middle;
    text-align: center;
}

.paymentTable td:first-child {
    text-align: left;
}

.border{
    border-bottom: 1px solid #dfe5eb
}

.noBorder{
    border: none;
}

.subTitle {
    word-wrap: break-word;
    margin: 0;
    margin-bottom: 10px;
    padding: 0;
    font-size: 22px;
    font-weight: 400;
    color: #0d3349;
}

.contentSide {
    width: 70%;
}

  .textAboveInput{
    color: #0d3349;
    font-size: 16px;
    font-family: Helvetica, serif;
    font-weight: lighter;
    display: block;
    padding: 5px 0 4px 0px;
    text-align: left;
    margin: 0;
  }
  
  .quantityInput {
      width:83px;
      height: 36px;
  }
