.bodyContainer {
 padding: 0 4.75%;
 background-color: #f0f4f7;
 height: 150%;
}

.feeContainer {
    justify-content: center;
    position: relative;
    border-top: 25px;
    background-color: white;
    width: 100%;
    min-height: 230px;
    height: 230px;
    border-radius: 7px;
    margin-bottom: 24px;
    box-shadow: 0 4px 2px -2px #dadada;
    padding: 35px 27.5px;
    box-sizing: border-box;
    flex-direction: column;
    display:flex;
}
  
.adjacent {
    flex-direction: row;
    display:flex;
    margin: 0 20px 10px 10px;
}

.textAboveInput{
  color: #0d3349;
  font-size: 16px;
  font-family: Helvetica, serif;
  font-weight: lighter;
  display: block;
  padding: 5px 0 4px 0px;
  text-align: left;
  margin: 0;
}

.nameInput {
  width:40%;
  margin-right:10px;
}

.smallInput {
  width: 40%;
}
.selectProperties {
  width:100%;
  height: 26px;
  padding-left: 8px;
  max-height: 30px;
}

.textAboveInputPropertySelect{
  color: #0d3349;
  font-size: 16px;
  font-family: Helvetica, serif;
  font-weight: lighter;
  display: block;
  padding: 5px 0 4px 0px;
  text-align: left;
  margin: 0;
  width:100%
}
.InputPropertySelect{
  width:40%;
  margin: 0 10px;
}

.seperateNextTo{
  margin: 0 10px;
}

.nightInput{
  width: 150px;
  margin: 0 10px;
}
.cancelButton {
  background-color: #fff;
  color: #3899ec;
}

.infoAbove {
  flex-direction: row;
    display:flex;
    margin: 0 20px 10px 10px;
  padding-top: 20px;
  float: left;
  /* width: 100%; */
}