.card {
    display: inline-block;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 400px;
    height: 400px;
    border-radius: 6px;
    background-color: rgba(214, 235, 242, 0.45);
    text-align: center;
}

@-webkit-keyframes AnimationName {
    0%{background-position:0% 7%}
    50%{background-position:100% 94%}
    100%{background-position:0% 7%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 7%}
    50%{background-position:100% 94%}
    100%{background-position:0% 7%}
}
@keyframes AnimationName {
    0%{background-position:0% 7%}
    50%{background-position:100% 94%}
    100%{background-position:0% 7%}
}
.main {
    display: flex;
    width: 100vw;
    height: 100vh;
    max-height: 100%;
    max-width: 100%;
    margin: 0;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(45deg, rgba(113, 0, 210, 0.94), rgba(10, 172, 242, 0.94));
    /* background: linear-gradient(270deg, #7f22ff, #5ab3f0);
    background-size: 400% 400%;

    -webkit-animation: AnimationName 0s ease infinite;
    -moz-animation: AnimationName 0s ease infinite;
    animation: AnimationName 0s ease infinite; */
}

.logo {
    display: inline-block;
    padding-top: 20px;
    width: 328.3px;
    height: 65px;
    margin-bottom: 50px;
}

.button {
    height: 30px;
    width: 80%;
    border-radius: 3px;
    outline: 0;
    margin-top: 30px;
    /* background-image: linear-gradient(45deg, rgba(187, 242, 236, 0.96), rgba(238, 242, 237, 0.94)); */
    background-image: linear-gradient(-45deg, rgba(117, 31, 242, 0.96), rgba(59, 133, 242, 0.94));
    border: 0;
    color: rgba(255, 255, 255, 0.55);
    font-size: 15px;
    cursor: pointer;
}
.email {
    display: inline-block;
    padding-left: 10px;
    width: 100%;
    height: 100%;
    font-size: 17px;
    background-color: transparent !important;
    outline: 0;
    border: 0;
    margin: 0;
    color: #ffffff;
}

.email:-webkit-autofill,
.email:-webkit-autofill:hover,
.email:-webkit-autofill:focus,
.email:-webkit-autofill:active {
    -webkit-animation: autofill 0s forwards;
    animation: autofill 0s forwards;
}

@keyframes autofill {
    100% {
        background: transparent;
        font-size: 17px;
        color: #ffffff;
    }
}

@-webkit-keyframes autofill {
    100% {
        background: transparent;
        font-size: 17px;
        color: #ffffff;
    }
}

body {
    margin: 0
}

.rememberMe{
    color: rgba(255, 255, 255, 1);
    display: inline-block;
    font-size: 11px;
    float: left;
    padding-top: 9px;
    padding-left: 7px;
    font-family: "Arial", serif;
    color: #b3c4f2;
}

.check {
    width: 15px;
    float: left;
    margin: 0;
    height: 100%;
    background-color: transparent;
    color: #b3c4f2;
    border: 1px #53f25b;
}

input[type=checkbox] {
    transform: scale(.75);
}

.rememberDiv {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    height: 30px;
}

.forgot {
    margin-top: 5px;
    background-color: transparent;
    color: #b3c4f2;
    outline: 0;
    border: 0;
    cursor: pointer;
}

.emailDiv {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    width: 80%;
    height: 25px;
    border-image: linear-gradient(to left, rgba(147, 70, 255, 0.98), rgba(0, 154, 195, 0.98)) 1 100%;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-image-slice: 1;
}

.passwordLogo {
    width: 20px;
    height: 26px;
    margin-bottom: 6px;
}
.emailLogo {
    width: 25px;
    display: block;
    height: 17.85px;
}

*:focus {
    outline: none;
}
