.search {
    height: 200px;
    width: 100%;
    border-bottom: black;
    border-bottom-width: 1px;
    border-style: solid;
}

.about {
    position: absolute;
    height: 200px;
    width: 100%;
    border-bottom: black;
    border-bottom-width: 1px;
    border-style: solid;
}

.mapAndList{
    display:flex;
    flex-direction:row;
    height: 625px;
}

.homeContent{
    margin: 0 120px 48px 140px;
    align-content: center;
}